*.pyc
__pycache__/
.vscode/
.idea/
*.mpy
.Trashes
.Spotlight*
.DS_Store
*.pyc
__pycache__/
.vscode/
.idea/
*.mpy
.Trashes
.Spotlight*
.DS_Store
settings.toml
infra_controller/settings copy.toml
infra_controller/settings copy.toml
